// Import Bootstrap
@import 'bootstrap/scss/bootstrap';

// Import custom variables
@import './variables';

.App {
    text-align: center;
    background-color: $background-color;
    padding: 2rem;
  
    .App-header {
      background-color: $primary-color;
      color: white;
      padding: 20px;
      margin-bottom: 30px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: $card-border-radius;
    }
  
    .weather-widget, .news-widget {
      margin-bottom: $widget-margin-bottom;
      border-radius: $card-border-radius;
      overflow: hidden;
      background-color: $card-background !important;
      border: $card-border !important;
      box-shadow: $widget-box-shadow;
      transition: $widget-transition;
  
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
      }
  
      .card-body {
        padding: $card-padding;
        background-color: beige;
      }
  
      h2 {
        margin-bottom: 20px;
        font-size: 1.5rem;
        color: $primary-color;
      }
  
      .weather-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
  
        .weather-main {
          display: flex;
          align-items: center;
  
          .weather-icon {
            width: 50px;
            height: 50px;
            margin-right: 10px;
          }
  
          .weather-description {
            font-size: 5rem;
            font-weight: bold;
            color: $primary-color;
          }
        }
  
        .weather-extra {
          flex: 1;
  
          p {
            margin-bottom: 10px;
            font-size: 1rem;
            color: $secondary-color;
          }
        }
        #custom-bg{
            background-color: aquamarine !important;
          }
      }
      
  
      .news-list {
        .news-item {
          cursor: pointer;
          transition: $widget-transition;
          padding: 15px;
          border-bottom: 1px solid #ddd;
  
          &:last-child {
            border-bottom: none;
          }
  
          &:hover {
            background-color: $widget-hover-background;
          }
  
          .card-body {
            .card-title {
              font-weight: bold;
              color: $primary-color;
              font-size: 1.2rem;
              margin-bottom: 5px;
              transition: color 0.3s ease;
  
              &:hover {
                color: darken($primary-color, 10%);
              }
            }
  
            .card-text {
              font-size: 0.9rem;
              color: $secondary-color;
              margin-bottom: 10px;
            }
  
            .text-muted {
              display: flex;
              align-items: center;
              font-size: 0.8rem;
              color: $secondary-color;
            }
  
            .btn-secondary {
              background-color: $primary-color;
              border-color: $primary-color;
              transition: background-color 0.3s ease;
  
              &:hover {
                background-color: darken($primary-color, 10%);
                border-color: darken($primary-color, 10%);
              }
            }
          }
        }
      }
    }
  }